.login-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F4F0;
  background-size: cover;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  position: relative;
  background-color: #4da1a995;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
  max-width: 400px;
}

.form-title {
  color: #F6F4F0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.social-login-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-login {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #F6F4F0;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5px;
}

.social-login.google {
  background-color: #2E5077;
}

.social-login.apple {
  background-color: #79D7BE;
}

.separator {
  text-align: center;
  color: #F6F4F0;
  background: 0;
  margin: 20px 0;
}

.separator span {
  padding: 0 10px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  color: #F6F4F0;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #2E5077;
  border-radius: 5px;
  font-size: 1rem;
}

.forgot-password-link {
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: right;
  color: #79D7BE;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: #F6F4F0;
}

.login-button {
  background-color: #79D7BE;
  color: #2E5077;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #2E5077;
  color: #F6F4F0;
}

.signup-prompt {
  text-align: center;
  margin-top: 20px;
  color: #F6F4F0;
}

.signup-link {
  color: #79D7BE;
  text-decoration: none;
}

.signup-link:hover {
  color: #2E5077;
}

.error-message {
  color: #ff4d4d;
  margin-bottom: 15px;
  text-align: center;
}

.social-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px;
  margin-right: 8px; /* Space between the image and text */
  vertical-align: middle;
}
